# Office Mobile + SentencePiece
# https://office.visualstudio.com/OC/_git/OfficeMachineLearning?path=/src/ai/office/models/required_operators_and_types.config&_a=contents&version=GBmaster
# Generated
ai.onnx;1;LayerNormalization,Shape,Transpose{"inputs": {"0": ["float", "uint8_t"]}}
ai.onnx;5;Reshape
ai.onnx;6;Relu{"inputs": {"0": ["float"]}},Sigmoid{"inputs": {"0": ["float"]}},Tanh{"inputs": {"0": ["float"]}}
ai.onnx;7;Add{"inputs": {"0": ["float", "int64_t"]}},Mul{"inputs": {"0": ["float"]}},Pow{"inputs": {"0": ["float"], "1": ["float"]}}
ai.onnx;9;BatchNormalization{"inputs": {"0": ["float"]}}
ai.onnx;10;DequantizeLinear{"inputs": {"0": ["int8_t", "uint8_t"]}},QLinearConv,QLinearMatMul,QuantizeLinear{"outputs": {"0": ["uint8_t"]}}
ai.onnx;11;Concat{"inputs": {"0": ["float", "int64_t"]}},Conv{"inputs": {"0": ["float"]}},DynamicQuantizeLinear{"outputs": {"0": ["uint8_t"]}},Flatten,Gather{"inputs": {"0": ["float", "int64_t", "int8_t", "uint8_t"], "1": ["int64_t"]}},Gemm{"inputs": {"0": ["float"]}},MaxPool{"inputs": {"0": ["float"]}},Range{"inputs": {"0": ["int64_t"]}},Resize{"inputs": {"0": ["float", "uint8_t"]}},Slice{"inputs": {"0": ["float", "int64_t"], "1": ["int64_t"]}},Softmax{"inputs": {"0": ["float"]}},Squeeze,Unsqueeze
ai.onnx;12;Max{"inputs": {"0": ["float"]}},Min{"inputs": {"0": ["float"]}}
ai.onnx;13;Clip{"inputs": {"0": ["float"]}},Concat{"inputs": {"0": ["float", "int64_t"]}},DequantizeLinear{"inputs": {"0": ["int8_t", "uint8_t"]}},Flatten,QuantizeLinear{"outputs": {"0": ["uint8_t"]}},Reshape,Resize{"inputs": {"0": ["float", "uint8_t"]}},Softmax{"inputs": {"0": ["float"]}},Transpose{"inputs": {"0": ["float", "uint8_t"]}}
com.microsoft;1;DynamicQuantizeMatMul,FusedConv,FusedGemm,QAttention,QLinearAdd{"inputs": {"0": ["uint8_t"]}},QLinearConcat,QLinearSigmoid

# sentencepiece
ai.onnx.contrib;1;SentencepieceTokenizer
